@import "src/app/colors";

$header-size: 5vh;

.demo-header {
  width: 100vw;
  height: 7.5vh;

  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -31px 79px -29px rgba(0, 0, 0, 0.25);
}

.demo-page {
  height: 92.5vh;
  width: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, #0062EF 0%, #0033AB 48.75%, #001378 100%);
  display: flex;


  align-items: center;
  align-content: space-between;
  justify-content: center;

  .demo-page-main {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;

    & > * {
      margin: 0 15px 0 15px;
    }

  }

  .demo-page-display {

    height: 60vh;
    width: 75vw;

    display: flex;

    & > * {
      margin: 0 15px 0 15px;
    }

    flex-grow: 1;

    .demo-page-control {
      width: 37%;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .demo-page-control-item_select {
        padding: 15px;
        background-color: $primary-neutral;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
      }

      .demo-page-control-inputs {
        height: 75%;
        background-color: $primary-neutral;
        border-radius: 18px;
        font-family: "Source Sans Pro", sans-serif;
        z-index: 100;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .demo-page-plot {
      width: 67%;
      background-color: $primary-neutral;
    }

  }

  .demo-page-result {
    position: relative;
    height: 10vh;
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-neutral;
    margin-top: 25px !important;

    font-family: "Source Sans Pro", sans-serif;

    img {
      transform: translate(-40%, -55%) scale(.6, .6);
      position: absolute;
      top: 8px;
      left: 15px;
    }

    .demo-page-result-text {
      margin-left: 50px;
      font-size: 1em;

    }
  }
}

.item_select-choice {
  width: 100% !important;
}

.item_select-text {
  margin-bottom: 5px !important;
  font-family: "Source Sans Pro", sans-serif;
}

.item_select-choice {
  width: 90%;
  height: 30%;
  border-style: none;
  background-color: $primary-neutral;
  font-family: "Source Sans Pro", sans-serif;
}

.ngx-dates-picker-calendar-container{
  position: absolute;
  width: 300px;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 8%);
  border: 1px solid #dfe3e9;
  border-radius: 4px;
  z-index: 25!important;
}

.input-btn-export {
  cursor: default;
  padding: 10px;
  background: lighten($primary-neutral, 20);
  color: $primary-accent;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  border: 1px solid lighten($primary-accent, 10);
}

.input-btn-export:hover {
  background: lighten($secondary-neutral, 20);
  color: lighten($primary-accent, 20);
  border-color: lighten($primary-accent, 20);
}

.input-btn-process {
  cursor: default;
  padding: 10px;
  //  border: 3px solid desaturate(lighten($primary-accent, 40), 30);
  background: lighten($primary-accent, 20);
  color: $primary-neutral;
  margin-right: 10px;
  font-weight: bold;
  -webkit-box-shadow: 0px -6px 26px -15px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px -6px 26px -15px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px -6px 26px -15px rgba(0, 0, 0, 0.5) inset;
  border-radius: 10px;
  text-align: center;
}

.input-btn-process:hover {
  background: $secondary-accent;
  box-shadow: none;
}

.input-btn-container {
  display: flex;
  justify-content: flex-end;
}

mat-checkbox {
  color: $primary-accent;
  margin-right: 27px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  z-index: -10;
}
.method-select-text{
  border: 10px;
}

//Checkbox color
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: lighten($primary-accent, 10) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary-accent !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: lighten($primary-accent, 20) !important;
}
