<section class="demo-header primary-neutral-bg" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <a href="https://serverchallenge.ru/">
    <img style="color: black; width: 180px; height: 300px;" src="assets/logo.svg">
  </a>

</section>
<section class="demo-page primary-accent-bg">
  <div class="demo-page-main">
    <div class="demo-page-display">
      <div class="demo-page-plot">
        <div class="demo-page-plot-indices" #IndicesPlotContainer>
          <plotly-plot [data]="indicesPlot.data" [revision]="pricePlot.layout.datarevision" [layout]="indicesPlot.layout"></plotly-plot>
        </div>
        <div class="demo-page-plot-price" #PricePlotContainer>
        <plotly-plot [data]="pricePlot.data" [layout]="pricePlot.layout"></plotly-plot>
        </div>
      </div>
      <div class="demo-page-control">
        <div class="demo-page-control-item_select">
          <label class="item_select-text">
            Выберите продукт
          </label>
          <form>
            <ng-select name="products_select"
                       (select)="calculate()"
                       [items]="products"
                       [(ngModel)]="productName"
                       class="item_select-choice">
            </ng-select>
          </form>
        </div>
        <div class="demo-page-control-inputs">
          <div >
            <p class="item_select-text" style="margin: 0">
              Рассчитать на:
            </p>
            <div class="datepick">
              <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
    <!--        <label class="method-select-text">
              Выберите метод регрессии:
            </label>
            <ng-select name="method_select"
                       [items]="methods"
                       bindLabel="name"
                       bindValue="alias"
                       [(ngModel)]="currentMethod"
                       class="method-select">
            </ng-select>-->
            <label class="method-select-text">
              Выберите индексы для корреляции:
            </label>
            <div class="input-resources">
              <mat-checkbox *ngFor="let r of resources" (change)="check($event, r)">{{r.name}}</mat-checkbox>
            </div>
          </div>
          <div class="input-btn-container">
            <div class="input-btn-process" (click)="calculate()">Рассчитать</div>
            <div class="input-btn-export" (click)="download()">Экспортировать в .xlsx</div>
          </div>
        </div>
      </div>
    </div>
    <div class="demo-page-result">
      <img src="assets/mascot.svg" class="demo-page-result-mascot">
      <p class="demo-page-result-text">
        <ng-template [ngIf]="price" [ngIfElse]="elsePrice">
          Для продукта <i>{{productName}}</i> цена на {{date.toLocaleDateString('ru-RU')}} c вероятностью
          95% будет в промежутке от {{getPrice().left}} до {{getPrice().right}}
        </ng-template>
        <ng-template #elsePrice>
            Выберите параметры и продукты для рассчета!
        </ng-template>
      </p>
    </div>
  </div>
</section>
