$primary-accent: #001378;
$secondary-accent: #0062EF;
$primary-neutral: #F2F2F2;
$secondary-neutral: #EAEAEA;

.primary-accent-bg {
  background-color: $primary-accent;
}

.primary-neutral-bg {
  background-color: $primary-neutral;
}
